.content {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 50px 0;
    flex-direction: column;
}

.content h2 ,.table-responsive h4 {
    border-bottom: 2px solid rgb(91, 113, 189);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;

}
h1,h2, h3, p{
 color: #5BC0DE,
}

.greetings {
    border-bottom: 2px solid rgb(49, 141, 228);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    text-transform: uppercase;
    text-align: center;
    border-width: 50px;
}

.table-responsive h4 {
    letter-spacing: 0.4em;
    padding-bottom: 7px;
    margin-bottom: 7px;
}

.content table {
    border: 1px solid;
    width: 60%;
}

.content th {
    background-color: #7591f3;
    text-align: center;
}

.content td {
    background-color: #bfd7f6;
    text-align: center;
}
